body {
  background: #FFFFFF;
  margin: 0px 10px 10px 10px;
}
a {
  color: #FFFFFF;
  text-decoration-line: none;
}
#navigation {
  background: #FF9A03;
  color: #ffffff;
  padding: 25px;
  font-family: sans-serif;
  border-width: 10px 0px 10px 0px;
  border-style: solid;
  border-color: #FFFFFF;
  margin: 0px;
}
table {
  border: 0px;
  width: 100%;
}
th {
  width: 0%;
}
#main {
  color: #000000;
}
iframe {
  border: none;
  width: 100%;
  height: 105px;
  position: sticky;
  top: 0px;
  bottom: 0px;
  overflow: hidden;
}
tr {
  height: 25px;
}
